/* You can add global styles to this file, and also import other style files */
// @import "default";
@import "variables";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "custom";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
:root {
  zoom: 100%;
  // font-size: .732vw;
  font-size: .732vw;

  // 1rem = 10px = .732vw
  // font-size:clamp(8px, 0.66vw, 0.66vw);
  --vw-font-1: 0.0732vw;
  --vw-font-10: 0.732vw;
  --vw-font-12: 0.878vw;
  --vw-font-14: 1.024vw;
  // --vw-font-14: 1.024vw;
  --vh-font-22: 1.61vw;


  --vh-font-1: 0.153vh;
  --vh-font-10: 1.538vh;
  --vh-font-12: 1.46vh;


  --bs-color-master: #009696;
  --bs-color-transaction: #007daf;
  --bs-color-report: #ff0064;
  --bs-table-color:#7d7d7d;

  --bs-addtable-color: #009696;
  --bs-b2b-subheding: #ff0064;
  --bs-b2b-heading: #007dfa;





}

* {
  font-family: "Outfit", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


.statusSpanHeight{
  background-color: white !important;
  height: 2.8rem !important;
  border-radius: 0rem !important;
  border-left: none;
}

.statusSelectBorder{
  border-right: none;
}

